/* [project]/src/app/prayer-link/page.module.css [app-client] (css) */
.page-module__qmueaq__pageContainer {
  background-color: #fafafa;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 5rem 1.5rem;
  display: flex;
}

.page-module__qmueaq__pageContainer h1 {
  color: #171717;
  text-align: center;
  letter-spacing: -.1125rem;
  font-size: 4.5rem;
  font-weight: 700;
}

.page-module__qmueaq__heading {
  position: relative;
}

.page-module__qmueaq__heading h1 {
  color: #ff5722;
}

.page-module__qmueaq__wiggle {
  width: 3.75rem;
  height: .375rem;
}

.page-module__qmueaq__introText {
  text-align: center;
  width: 100%;
  max-width: 30rem;
  margin-top: 2rem;
}

.page-module__qmueaq__prayerGrid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  display: grid;
}

@media (max-width: 768px) {
  .page-module__qmueaq__prayerGrid {
    grid-template-columns: 1fr;
  }
}

.page-module__qmueaq__topSection {
  align-items: center;
  gap: 1rem;
  display: flex;
}

.page-module__qmueaq__topSection img {
  width: 2.5rem;
  height: 2.5rem;
}

.page-module__qmueaq__topSection h2 {
  color: #171717;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.page-module__qmueaq__topSection p {
  color: #757575;
  font-size: .875rem;
  line-height: 1.25rem;
}

.page-module__qmueaq__listContainer {
  background: #fff;
  border: 1px solid #eeeeee80;
  border-radius: 1.5rem;
  flex-direction: column;
  gap: .75rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  display: flex;
  box-shadow: 0 8px 30px #0000000a, 0 1px 3px #00000005;
}

/* [project]/src/app/components/Header.module.css [app-client] (css) */
.Header-module__GPz-la__header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  display: flex;
  position: relative;
}

.Header-module__GPz-la__logo {
  width: 6rem;
  height: 6rem;
}

.Header-module__GPz-la__rightSide {
  align-items: center;
  gap: 1.5rem;
  display: flex;
}

.Header-module__GPz-la__hamburger {
  cursor: pointer;
  z-index: 1001;
  background: none;
  border: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  display: none;
}

.Header-module__GPz-la__hamburger span {
  background: #000;
  border-radius: 2px;
  width: 25px;
  height: 3px;
  display: block;
}

.Header-module__GPz-la__mobileMenu {
  z-index: 1000;
  background: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 70%;
  height: 100vh;
  transition: right .3s;
  display: flex;
  position: fixed;
  top: 0;
  right: -100%;
}

.Header-module__GPz-la__mobileMenu.Header-module__GPz-la__open {
  right: 0;
}

@media (max-width: 768px) {
  .Header-module__GPz-la__rightSide {
    display: none;
  }

  .Header-module__GPz-la__hamburger {
    display: flex;
  }
}

/* [project]/src/app/components/LogoutButton.module.css [app-client] (css) */
.LogoutButton-module__WHCK4G__button {
  color: #fff;
  background-color: #ff5722;
  border: none;
  border-radius: .25rem;
  padding: .25rem .75rem;
}

/*# sourceMappingURL=src_app_479e250d._.css.map*/