.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form input {
  width: 20rem;
  height: 2.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
}

.form button {
  width: 20rem;
  height: 2.5rem;
  border: none;
  background-color: #ff5722;
  color: #fff;
}
